<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="webserviceandroid">
        <!-- dialeto do banco de dados usado-->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!-- driver do banco de dados usado-->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <!-- url de conexao-->
        <property name="hibernate.connection.url">jdbc:postregsql://localhost:5432/webserviceandroid</property>
        <!--usuario do banco de dados usado-->
        <property name="hibernate.connection.user">deivid</property>
        <property name="hibernate.connection.password">deivid</property>
        <property name="hibernate.session_factory_name">webserviceandroid</property>
        <!-- tipo de contexto da sessao-->
        <property name="hibernate.current_session_context_class">thread</property>
        <!--
        org.hibernate.envers.default_schema
        -->
        <!-- usar cache em consultas -->
        <property name="hibernate.cache.use_query_cache">true</property>
        <!-- usar cache de segundo nivel-->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <!-- usar fabrica de cache do ehcache-->
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <!-- ler configuradoes de cache do arquivo especificado-->
        <property name="net.sf.ehcache.configurationResourceName">/ehcache-config.xml</property>
      
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- mostrar sql gerada do hibernate nas operacoes de persistencia-->
        <property name="hibernate.show_sql">false</property>
        <!-- se a aplicacao for encerrada remover a conexao com o banco de dados-->
        <property name="hibernate.connection.shutdown">true</property>
        <!-- usar cache em consultas -->
        <!-- usar c3po como pool  de conexoes-->
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <!-- quantidade de conexoes minima da aplicacao-->
        <property name="hibernate.connection.pool_size">5</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">-1</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.c3p0.testConnectionOnCheckout">true</property>
        <!--nome do schema para auditoria
        -->
   
        <!-- -->
  
    </session-factory>
</hibernate-configuration>
